.gallery-hero{
position:relative;
min-height:85vh;

background:
linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.55)
),
url("../../assets/images/gallery/events/barat1.jpg");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
}

.gallery-overlay{
position:absolute;
inset:0;
}

.gallery-content{
position:relative;
z-index:2;
max-width:850px;
color:white;
}

.gallery-content h1{
font-size:4rem;
font-weight:800;
line-height:1.15;
margin:25px 0;
}

.gallery-content h1 span{
color:#d4af37;
}

.gallery-content p{
font-size:1.15rem;
line-height:1.9;
color:#ddd;
margin-bottom:35px;
}

.hero-tag{
display:inline-block;
padding:8px 22px;
border-radius:30px;
background:rgba(212,175,55,.18);
border:1px solid #d4af37;
color:#d4af37;
font-weight:600;
}

.hero-buttons{
display:flex;
gap:20px;
flex-wrap:wrap;
}

@media(max-width:768px){

.gallery-content h1{
font-size:2.5rem;
}

.gallery-content p{
font-size:1rem;
}

}