.food-cta{

position:relative;

padding:110px 0;

background:
linear-gradient(
rgba(0,0,0,.75),
rgba(0,0,0,.75)
),
url("../../assets/images/food/gallery/food2.jpg");

background-size:cover;

background-position:center;

background-attachment:fixed;

}

.food-cta-overlay{

position:absolute;

inset:0;

}

.food-cta-content{

position:relative;

z-index:2;

text-align:center;

max-width:850px;

margin:auto;

color:white;

}

.food-cta-content span{

display:inline-block;

margin-bottom:20px;

color:#d4af37;

font-weight:700;

letter-spacing:1px;

}

.food-cta-content h2{

font-size:3rem;

font-weight:800;

margin-bottom:25px;

}

.food-cta-content p{

color:#ddd;

line-height:1.9;

font-size:1.1rem;

margin-bottom:35px;

}

.cta-buttons{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

@media(max-width:768px){

.food-cta-content h2{

font-size:2.2rem;

}

}