.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;

  height: 4px;

  background: linear-gradient(
    90deg,
    #d4af37,
    #f1c94a
  );

  z-index: 9999;

  transition: width 0.1s linear;
}