.whatsapp-button {
  position: fixed;
  bottom: 100px;
  right: 30px;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  background: #25D366;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 2rem;

  text-decoration: none;

  box-shadow: 0 10px 25px rgba(37,211,102,.35);

  transition: .35s ease;

  z-index: 999;
}

.whatsapp-button:hover {
  transform: translateY(-5px) scale(1.08);
  color: white;
  box-shadow: 0 15px 35px rgba(37,211,102,.5);
}

@media (max-width: 768px) {
  .whatsapp-button {
    width: 55px;
    height: 55px;
    right: 20px;
    bottom: 90px;
  }
}
